.mother-box{
    width:100%;
    height:100vh;
    position:relative;
    background-color:#222533;
    display: flex;
    font-family: 'Lato', sans-serif;
    color:white;
    justify-content:center;
  }


.text{
    position: absolute;
    top: 40%;
    width:100%;
}


.txt {
    font-size: 30px;
    text-align: center;
    letter-spacing: 8.4px;
    font-family: 'Lato', sans-serif;
    line-height: 95px;
    word-spacing: 4px;
}     

.txt1{
    font-size:60.5px;
    line-height:50%;
    text-align:center;
    font-weight:bold;
    font-family: 'Lato', sans-serif;

}

.txt2{
    font-size:30px;
    line-height:110px;
    text-align:center;
    font-weight:lighter;
    font-family: 'Lato', sans-serif;
}

span {
    color:#1ABC9C;
}

.button {
    position:absolute;
    top: 61.5%;
    left: 38.5%;
    display:flex;
    justify-content:space-around;
    height:61px;
    width:440px;


}


.button2{
    background-color:#1ABC9C ;
    font-size:18px;
    color:white;
    border:1px;
    border-radius:2px;
    font-family: 'Lato', sans-serif;
    width:200px;
    height:61px;

    
}

.button1{
    background-color: #222533 ;
    font-size:18px;
    color:white;
    border:1px solid white;
    border-radius:2px;
    font-family: 'Lato', sans-serif;
    width:200px;
    height:61px;


    
}

.radio {
    position: absolute;
    top: 71%;
    width: 86px;
    height: 14px;
    display: flex;
    justify-content: space-between;
}

.radio-1 {
    width:14px;
    height:14px;
    background-color:white;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items: center;

}

.green {

    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #1ABC9C;
    

}