.mother-box-4{
    width:1920px;
    height:700px;
    background-color:#222533;
    position: relative;
    display:flex;
    justify-content:center;
    align-self:center;

}

.our{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 43%;
    color: white;
    font-weight: lighter;
    top: 14.3%;
    word-spacing: 5px;
    
}

.story{
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 33.4%;
    color: white;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    top: 19%;

    width: 630.7px;
    line-height: 24px;
    word-spacing: 1px;
}



.persentage{
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background-color: hsl(192, 15%, 94%);
    position: absolute;
    left: 21%;
    top: 21%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}
.persentage:hover{
    background-color:#222533;

}
.persentage:nth-child(1):hover{
    color:white;
}
.circle-room{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    left: 10%;
    border: 6px solid #21BA9B;
}


.circle-room:hover{
    border: 6px solid #21C2F8;
    

}



.circle-house{
    position: relative;
    width: 246px;
    height: 400px;
        
}

.box-box {
    display: flex;
    justify-content: space-between;
    width: 1139px;
    height: 400px;
    position: absolute;
    top: 36.3%;
    left: 19.9%;
}


.details {
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    color: white;
    width: 260px;
    margin-top: 6%;
    word-spacing: 39%;
    letter-spacing: 0.5px;
}



.title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 5%;
}

.text-house {
    position: absolute;
    text-align: center;
    width: 246px;
    line-height: 20px;
    color: white;
    line-height: 23px;
    top: 53.9%;
}


