.mother-box-15{
    width:1920px;
    height:80px;
    background-color:#222533;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
    


.flex-footera{
    font-weight:bold;
    font-family: 'Lato', sans-serif;
    color:#A1B1BC;
    display: flex;
    justify-content:space-between;
    font-size:15px;
    margin-right: 7.4%;
    
}

.lit-fox{
  
    margin-left: 10px;
    margin-right: 23px;

}

.flex-nava{
    display: flex;
    justify-content: space-between;
    margin-left: 2.6%;
    width: 424.2px;
    margin-right: 1.09%;
    

}
.each{
    color:#A1B1BC;
    font-family: 'Lato', sans-serif;
    font-size:14px;
    text-align:right;
}

.each:hover{
   color:#1ABC9C;
}

.nav-flat{
    display: flex;
    justify-content: space-between;
    width:461px;
    height:14px;
}


.line{
    width:80px;
    height:2px;
    position:absolute;
    top:2px;

    
    
}

.position1{
    left:1110px;

}
.position2{
    left:1220px;

}

.position3{
    left:1325px;
    width:60px;

}

.position4{
    left:1405px;
    width:50px;

}

.position5{
    left:1485px;
    top:2px;
    width:50px;

}

.nv-1:hover ~ .position1 {
    background-color:#1ABC9C;
}

.nv-2:hover ~ .position2 {
    background-color:#1ABC9C;
}

.nv-3:hover ~ .position3 {
    background-color:#1ABC9C;
}
.nv-4:hover ~ .position4 {
    background-color:#1ABC9C;
}

.nv-5:hover ~ .position5 {
    background-color:#1ABC9C;
}

.greener{
    color:#1ABC9C;
    font-weight: lighter;
}

.lighti{
    font-weight: lighter;

}