.mother-box-8{
    width:1920px;
    height:881px;
    background-color:#222533;
    position: relative;
    margin:auto;
    
}


.feature {
    color: white;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    word-spacing: 30%;
    position: absolute;
    top: 6%;
    left: 38.7%;
}

.green-fox{
    color:#1ABC9C;
    font-weight: bold;

}

.wite{
    color:white;
    
}

.feature-txt {
    position: absolute;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    word-spacing: 1px;
    left: 36%;
    color: white;
    width: 546px;
    text-align: center;
    word-spacing: 50%;
    height: 40px;
    text-indent:70px;
    top: 14%;
}
.trends {
    width: 300px;
    height: 170px;
    position: relative;
    text-align: right;
    margin-top:-2px;

}
.modern{
    position: absolute;
    font-weight: bold;
    opacity: 1;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: right;
    top: 0%;
    left: 29%;
}


.wre{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50px;
    background-color: #1ABC9C;
    top: 6%;
    left: 84%;
    display: flex;
    justify-content: center;
    align-items:center;
        
  

}


.information {
    opacity: 1;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 24px;
    width: 300px;
    position: absolute;
    top: 40%;
}

.trends-box {
    width: 300px;
    position: absolute;
    top: 35%;
    left: 19.5%;

}

.information-1{
    opacity: 1;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    width: 300px;
    position: absolute;
    top: 35%;
}




.gray-radius {
    width: 446px;
    height: 653px;
    background-color: #A0B1BB;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    top: 25.9%;
    left: 38.6%;

}


.trends-box-1{
    width: 300px;
    position: absolute;
    left: 64.9%;
    top: 36.5%;
}


.wre-1{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50px;
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    align-items:center;
}


.modern-1{
    position: absolute;
    font-weight: bold;
    opacity: 1;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: right;
    left: 23%;
    top: -5%;

}

