.mother-box5 {
    width:1920px;
    height: 555px;
    position: relative;
    display: flex;
    align-items: flex-end;

}

.our1 {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 43.5%;
    color: #222533;
    font-weight: lighter;
    word-spacing: 5px;
    margin-left: 1.3%;
    top: 11%;
}
.story1 {
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 33.4%;
    color:#2C3E50;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    top: 24%;
    width: 630.7px;
    line-height: 24px;
    word-spacing: 1px;
    
}
.box-box1{
    height: 300px;
    width: 480px;
    position: relative;
    border: 1px solid #ECF0F1 ;
    
}


.box-box1:hover{
    background-color:#ECF0F1;
}

.shigtavsi {
    width: 330px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    word-spacing: 2%;
    color:#2C3E50;

}


.sataur{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    position: absolute;
    margin-left: 37%;
    margin-top: 9%;
    color:#222533;

}

.little-5{
    width: 1920px;
    height: 300px;
    display: flex;
    position: absolute;
    top: 43%;
}

.ima{
    margin-left: 45%;
    margin-top: 9%;
}