.mother-box-10{
    width:100%;
    height:1264px;
    position:relative;
}

.monitor{
    position: absolute;
    top: 7.3%;
    left: 29.3%;
}


.clean-layout{
    color:#2C3E50;
    font-size:36px;
    font-family: 'Lato', sans-serif;
    text-align:left;

}


.creative {
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    position: absolute;
    top: 8%;
    left: 17%;
    font-weight: bold;
}


.present {
    color: #A1B1BC;
    font-size: 14px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    width: 239px;
    position: absolute;
    top: 35%;

}

.view-more {
    color: #1ABC9C;
    font-size: 15px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 90%;
    left: 0%;
    font-weight: bold;

}

.container {
    width:540px;
    height: 413px;
    position: absolute;
    top: 12.8%;
    left: 76%;
}

.content {
    margin-top: 8%;
    position: relative;
    width: 240px;
    height: 143px;
}
.contents-1{
    display: flex;
    justify-content: space-between;
    padding-bottom:2%;
}

.eqvskutexdi {
    position: absolute;
    top:0;
    left:0;
}

.container-1{
    width:540px;
    height: 413px;
    position: absolute;
    top: 58%;
    left: 29%;
}


.cubes {
    position: absolute;
   
    top: 58.1%;
    left: 77.5%;
}