.mother-box-7{
    width:1920px;
    height:711px;
    position: relative;
    background-color:#F9FBFA;

}

.our3{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    color: #222533;
    font-weight: lighter;
    word-spacing: 3px;
    margin-left: 1.3%;
    left: 38%;
    top: 7.5%;
}

.story3{
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 33.4%;
    color:#A1B1BC;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    top: 18%;

    width: 630.7px;
    line-height: 24px;
    word-spacing: 1px;
}


.info-box {
    background-color: white;
    border: 1px solid #F1F2F4;
    width: 1170px;
    height: 148px;
    position: absolute;
    top: 37%;
    left: 19.4%;
}

.infox {
    color: #A0B1BB;
    padding-left: 50%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 1090px;
    font-size: 18px;
    line-height: 30px;
    text-indent: 89px;
    word-spacing: 2px;
    text-align: center;
    padding-top: 3%;
    padding-left: 7%;
    position: absolute;
}

.profile{
    width:114px;
    height:173px;
    position:absolute;
    top: 61.5%;
    left: 47%;


}

.circle-photo{
    widows:112px;
    height:112px;
    border-radius:101px;
    background-color:#A0B1BB;
    border: 6px solid white;
    margin-left: 3%;
    
}

.name{
    text-align: center;
    margin-top: 19%;
    margin-bottom: 4%;
}

.theme{
    
    color: #2C3E50;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 24px;
}




.radio-2 {
    width:14px;
    height:14px;
    background-color:white;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items: center;
    border:0.8px solid #A0B1BB;

}

.green {

    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #1ABC9C;
    

}

.radio-house {
    position: absolute;
    top: 93.6%;
    width: 86px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    left: 47.9%;
}



.tring {
    position: absolute;
    top: 58%;
    left: 49%;
}